* {
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 80px;
}


.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  column-gap: 50px;
}


.image {
  height: 300px;
  width: 300px;
}


.controlData {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-bottom: 20px;
  column-gap: 50px;
}